<template>
  <pixi-application
    ref="app"
    :background-color="0x1099bb"
  >
    <pixi-sprite
      ref="bunny"
      :image-url="`${assetsUrl}/basics/bunny.png`"
    />
  </pixi-application>
</template>

<script>
import PixiApplication from '~/components/pixi-application.vue'
import PixiSprite from '~/components/pixi-sprite'

export default {
  components: {
    PixiSprite,
    PixiApplication
  },

  mounted() {
    const app = this.$refs.app.pixiApp
    const bunny = this.$refs.bunny.pixiSprite
    if (!app || !bunny) {
      return
    }

    // center the sprite's anchor point
    bunny.anchor.set(0.5)

    // move the sprite to the center of the screen
    bunny.x = app.screen.width / 2
    bunny.y = app.screen.height / 2

    // Listen for animate update
    app.ticker.add(this.onTick)
  },

  methods: {
    onTick(delta) {
      // just for fun, let's rotate mr rabbit a little
      // delta is 1 if running at 100% performance
      // creates frame-independent transformation
      const bunny = this.$refs.bunny.pixiSprite
      bunny.rotation += 0.1 * delta
    }
  }
}
</script>
