<template>
  <pixi-application
    ref="app"
    :background-color="0x1099bb"
  >
    <pixi-sprite
      ref="bunny"
      :image-url="`${assetsUrl}/basics/bunny.png`"
      @click="onClick"
    />
  </pixi-application>
</template>

<script>
import PIXI from '~/vendor/pixi'
import PixiApplication from '~/components/pixi-application.vue'
import PixiSprite from '~/components/pixi-sprite'

export default {
  components: {
    PixiSprite,
    PixiApplication
  },

  mounted() {
    const app = this.$refs.app.pixiApp
    const bunny = this.$refs.bunny.pixiSprite
    if (!app || !bunny) {
      return
    }

    // Scale mode for all textures, will retain pixelation
    PIXI.settings.SCALE_MODE = PIXI.SCALE_MODES.NEAREST

    // Set the initial position
    bunny.anchor.set(0.5)
    bunny.x = app.screen.width / 2
    bunny.y = app.screen.height / 2

    // Opt-in to interactivity
    bunny.interactive = true

    // Shows hand cursor
    bunny.buttonMode = true
  },

  methods: {
    onClick() {
      const bunny = this.$refs.bunny.pixiSprite
      bunny.scale.x *= 1.25
      bunny.scale.y *= 1.25
    }
  }
}
</script>
