<template>
  <pixi-application
    ref="app"
    :background-color="0x1099bb"
  >
    <pixi-container ref="container">
      <pixi-sprite
        v-for="i in 25"
        ref="bunnies"
        :key="i"
        :image-url="`${assetsUrl}/basics/bunny.png`"
      />
    </pixi-container>
  </pixi-application>
</template>

<script>
import PixiApplication from '~/components/pixi-application.vue'
import PixiSprite from '~/components/pixi-sprite'
import PixiContainer from '~/components/pixi-container'

export default {
  components: {
    PixiContainer,
    PixiSprite,
    PixiApplication
  },

  mounted() {
    const app = this.$refs.app.pixiApp
    const container = this.$refs.container.pixiContainer
    if (!app || !container) {
      return
    }

    const bunnies = this.$refs.bunnies.map(({ pixiSprite }) => pixiSprite)
    bunnies.forEach((bunny, i) => {
      bunny.anchor.set(0.5)
      bunny.x = (i % 5) * 40
      bunny.y = Math.floor(i / 5) * 40
    })

    // Center on the screen
    container.x = (app.screen.width - container.width) / 2
    container.y = (app.screen.height - container.height) / 2
  }
}
</script>
