<template>
  <pixi-application>
    <background-sprite :image-url="`${assetsUrl}/bkg-grass.jpg`" />
  </pixi-application>
</template>

<script>
import PIXI from '~/vendor/pixi'
import PixiApplication from '~/components/pixi-application'
import PixiSprite from '~/components/pixi-sprite'

const BackgroundSprite = {
  extends: PixiSprite,

  inject: {
    app: 'pixiApp'
  },

  mounted() {
    const { pixiSprite: background, app } = this

    background.width = app.screen.width
    background.height = app.screen.height

    // Stop application wait for load to finish
    app.stop()

    PIXI.loader
      .add('shader', `${this.assetsUrl}/basics/shader.frag`)
      .load(this.onLoaded)
  },

  methods: {
    // Handle the load completed
    onLoaded(loader, res) {
      const { pixiSprite: background, app } = this

      // Create the new filter, arguments: (vertexShader, framentSource)
      this.filter = new PIXI.Filter(null, res.shader.data)

      // Add the filter
      background.filters = [this.filter]

      // Resume application update
      app.start()

      // Animate the filter
      app.ticker.add(this.onTick)
    },

    onTick(delta) {
      this.filter.uniforms.customUniform += 0.04 * delta
    }
  }
}

export default {
  components: {
    PixiApplication,
    BackgroundSprite
  }
}
</script>
