<template>
  <pixi-application :background-color="0x1099bb">
    <bunny-container>
      <bunny-sprite
        v-for="i in 25"
        :key="i"
        :i="i"
        :image-url="`${assetsUrl}/basics/bunny.png`"
      />
    </bunny-container>

    <render-texture-sprite />
  </pixi-application>
</template>

<script>
import PIXI from '~/vendor/pixi'
import PixiApplication from '~/components/pixi-application.vue'
import PixiSprite from '~/components/pixi-sprite'
import PixiContainer from '~/components/pixi-container'

const brt =
  process.browser &&
  new PIXI.BaseRenderTexture(300, 300, PIXI.SCALE_MODES.LINEAR, 1)
const rt = process.browser && new PIXI.RenderTexture(brt)

const BunnySprite = {
  extends: PixiSprite,

  props: {
    i: {
      type: Number,
      required: true
    }
  },

  mounted() {
    const { pixiSprite: bunny, i } = this
    bunny.x = (i % 5) * 30
    bunny.y = Math.floor(i / 5) * 30
    bunny.rotation = Math.random() * (Math.PI * 2)
  }
}

const RenderTextureSprite = {
  extends: PixiSprite,

  mounted() {
    const { pixiSprite: sprite } = this
    sprite.texture = rt
    sprite.x = 450
    sprite.y = 60
  }
}

const BunnyContainer = {
  extends: PixiContainer,

  inject: {
    app: 'pixiApp'
  },

  mounted() {
    const { pixiContainer: container, app } = this
    container.x = 100
    container.y = 60

    app.ticker.add(() => {
      app.renderer.render(container, rt)
    })
  }
}

export default {
  components: {
    BunnyContainer,
    PixiApplication,
    BunnySprite,
    RenderTextureSprite
  }
}
</script>
