<template>
  <pixi-application ref="app">
    <pixi-animated-sprite
      v-if="frames"
      ref="anim"
      :frames="frames"
    />
  </pixi-application>
</template>

<script>
import PIXI from '~/vendor/pixi'
import PixiApplication from '~/components/pixi-application.vue'
import PixiAnimatedSprite from '~/components/pixi-animated-sprite'

export default {
  components: {
    PixiAnimatedSprite,
    PixiApplication
  },

  data() {
    return {
      frames: null
    }
  },

  mounted() {
    if (!process.browser) {
      return
    }

    PIXI.loader
      .add(`${this.assetsUrl}/basics/fighter.json`)
      .load(this.onAssetsLoaded)
  },

  methods: {
    onAssetsLoaded() {
      // create an array of textures from an image path
      const frames = []

      for (let i = 0; i < 30; i++) {
        const val = i < 10 ? '0' + i : i

        // magically works since the spritesheet was loaded with the pixi loader
        frames.push(`rollSequence00${val}.png`)
      }

      this.frames = frames
      this.$nextTick(this.initializeAnimation)
    },

    initializeAnimation() {
      const app = this.$refs.app.pixiApp
      const anim = this.$refs.anim.pixiSprite

      /*
       * An AnimatedSprite inherits all the properties of a PIXI sprite
       * so you can change its position, its anchor, mask it, etc
       */
      anim.x = app.screen.width / 2
      anim.y = app.screen.height / 2
      anim.anchor.set(0.5)
      anim.animationSpeed = 0.5
      anim.play()

      // Animate the rotation
      app.ticker.add(() => {
        anim.rotation += 0.01
      })
    }
  }
}
</script>
