<template>
  <pixi-application :background-color="0x1099bb">
    <pixi-text
      ref="basicText"
      text="Basic text in pixi"
    />

    <pixi-text
      ref="richText"
      text="Rich text with a lot of options and across multiple lines"
      :text-style="textStyle"
    />
  </pixi-application>
</template>

<script>
import PIXI from '~/vendor/pixi'
import PixiApplication from '~/components/pixi-application.vue'
import PixiText from '~/components/pixi-text'

export default {
  components: {
    PixiText,
    PixiApplication
  },

  data() {
    const textStyle = process.browser
      ? new PIXI.TextStyle({
          fontFamily: 'Arial',
          fontSize: 36,
          fontStyle: 'italic',
          fontWeight: 'bold',
          fill: ['#ffffff', '#00ff99'], // gradient
          stroke: '#4a1850',
          strokeThickness: 5,
          dropShadow: true,
          dropShadowColor: '#000000',
          dropShadowBlur: 4,
          dropShadowAngle: Math.PI / 6,
          dropShadowDistance: 6,
          wordWrap: true,
          wordWrapWidth: 440
        })
      : null

    return {
      textStyle
    }
  },

  mounted() {
    const basicText = this.$refs.basicText.pixiText
    const richText = this.$refs.richText.pixiText
    if (!basicText || !richText) {
      return
    }

    basicText.x = 30
    basicText.y = 90

    richText.x = 30
    richText.y = 180
  }
}
</script>
