<template>
  <div>
    <pixi-application ref="app">
      <snake-container>
        <pixi-rope
          :image-url="`${assetsUrl}/snake.png`"
          :points="points"
        />

        <rope-points v-if="showPoints" :points="points" />
      </snake-container>
    </pixi-application>

    <button
      type="button"
      style="font-size: 150%; cursor: pointer; margin: 8px;"
      @click="showPoints = !showPoints"
    >
      toggle points
    </button>
  </div>
</template>

<script>
import PixiApplication from '~/components/pixi-application.vue'
import PixiRope from '~/components/pixi-rope.vue'
import PixiContainer from '~/components/pixi-container.vue'
import PixiGraphics from '~/components/pixi-graphics.vue'

const ropeLength = 45

const SnakeContainer = {
  extends: PixiContainer,

  mounted() {
    const { pixiContainer: container } = this
    container.x = 40
    container.y = 300
    container.scale.x = 0.5
    container.scale.y = 0.5
  }
}

const RopePoints = {
  extends: PixiGraphics,

  props: {
    points: {
      type: Array,
      required: true
    }
  },

  watch: {
    points() {
      const { pixiGraphics: g, points } = this

      g.clear()

      g.lineStyle(2, 0xffc2c2)
      points.forEach(({ x, y }, i) => {
        if (i === 0) {
          g.moveTo(x, y)
        } else {
          g.lineTo(x, y)
        }
      })

      g.beginFill(0xff0022)
      points.forEach(({ x, y }) => g.drawCircle(x, y, 10))
      g.endFill()
    }
  }
}

export default {
  components: {
    PixiRope,
    SnakeContainer,
    PixiApplication,
    RopePoints
  },

  data() {
    const points = []

    for (let i = 0; i < 25; i++) {
      points.push({ x: i * ropeLength, y: 0 })
    }

    return {
      showPoints: true,
      points
    }
  },

  mounted() {
    const { pixiApp: app } = this.$refs.app

    // start animating
    app.ticker.add(() => {
      const count = Date.now() / 150

      // make the snake
      this.points = this.points.map((value, i) => ({
        x: i * ropeLength + Math.cos(i * 0.3 + count) * 20,
        y: Math.sin(i * 0.5 + count) * 30
      }))
    })
  }
}
</script>
