<template>
  <pixi-application ref="app">
    <pixi-tiling-sprite
      v-if="spriteProps"
      ref="tilingSprite"
      v-bind="spriteProps"
    />
  </pixi-application>
</template>

<script>
import PixiApplication from '~/components/pixi-application.vue'
import PixiTilingSprite from '~/components/pixi-tiling-sprite'

export default {
  components: {
    PixiTilingSprite,
    PixiApplication
  },

  data() {
    return {
      spriteProps: null
    }
  },

  mounted() {
    const app = this.$refs.app.pixiApp
    if (!app) {
      return
    }

    const { width, height } = app.screen
    this.spriteProps = {
      imageUrl: `${this.assetsUrl}/p2.jpeg`,
      width,
      height
    }

    this.count = 0
    app.ticker.add(this.onTick)
  },

  methods: {
    onTick(delta) {
      this.count += 0.005

      const tilingSprite = this.$refs.tilingSprite.pixiSprite
      tilingSprite.tileScale.x = 2 + Math.sin(this.count)
      tilingSprite.tileScale.y = 2 + Math.cos(this.count)

      tilingSprite.tilePosition.x += 1
      tilingSprite.tilePosition.y += 1
    }
  }
}
</script>
