<template>
  <pixi-application
    :antialias="true"
    :transparent="true"
  >
    <video-sprite
      v-if="isPlaying"
      :video-url="`${assetsUrl}/testVideo.mp4`"
    />
    <play-button
      v-else
      @pointertap="isPlaying = true"
    />
  </pixi-application>
</template>

<script>
import PixiApplication from '~/components/pixi-application.vue'
import PixiSprite from '~/components/pixi-sprite'
import PixiGraphics from '~/components/pixi-graphics'

// Create play button that can be used to trigger the video
const PlayButton = {
  extends: PixiGraphics,

  inject: {
    app: 'pixiApp'
  },

  mounted() {
    const { pixiGraphics: button, app } = this

    button
      .beginFill(0x0, 0.5)
      .drawRoundedRect(0, 0, 100, 100, 10)
      .endFill()
      .beginFill(0xffffff)
      .moveTo(36, 30)
      .lineTo(36, 70)
      .lineTo(70, 50)

    // Position the button
    const { width, height } = app.screen
    button.x = (width - button.width) / 2
    button.y = (height - button.height) / 2

    // Enable interactivity on the button
    button.interactive = true
    button.buttonMode = true
  }
}

const VideoSprite = {
  extends: PixiSprite,

  inject: {
    app: 'pixiApp'
  },

  mounted() {
    const { pixiSprite: videoSprite, app } = this

    // Stetch the fullscreen
    const { width, height } = app.screen
    videoSprite.width = width
    videoSprite.height = height
  }
}

export default {
  components: {
    PixiApplication,
    PlayButton,
    VideoSprite
  },

  data() {
    return {
      isPlaying: false
    }
  }
}
</script>
