<template>
  <div>
    <pixi-application>
      <template v-if="frames">
        <explosion-sprite
          v-for="i in explosionCount"
          :key="i"
          :frames="frames"
        />
      </template>
    </pixi-application>

    <label>
      number of explosions:
      <input
        v-model.number="explosionCount"
        type="number"
        min="1"
      >
    </label>
  </div>
</template>

<script>
import PIXI from '~/vendor/pixi'
import PixiApplication from '~/components/pixi-application.vue'
import PixiAnimatedSprite from '~/components/pixi-animated-sprite.vue'

const ExplosionSprite = {
  extends: PixiAnimatedSprite,

  inject: {
    app: 'pixiApp'
  },

  mounted() {
    const { pixiSprite: explosion, app } = this

    explosion.x = Math.random() * app.screen.width
    explosion.y = Math.random() * app.screen.height
    explosion.anchor.set(0.5)
    explosion.rotation = Math.random() * Math.PI
    explosion.scale.set(0.75 + Math.random() * 0.5)
    explosion.gotoAndPlay(Math.random() * 27)
  }
}
export default {
  components: {
    PixiApplication,
    ExplosionSprite
  },

  data() {
    return {
      frames: null,
      explosionCount: 50
    }
  },

  mounted() {
    PIXI.loader
      .add('spritesheet', `${this.assetsUrl}/mc.json`)
      .load(this.onAssetsLoaded)
  },

  methods: {
    onAssetsLoaded() {
      const frames = []
      for (let i = 0; i < 26; i++) {
        frames.push('Explosion_Sequence_A ' + (i + 1) + '.png')
      }

      this.frames = frames
    }
  }
}
</script>
