<template>
  <div class="pixi-application">
    <span v-show="isLoading">
      Loading…
    </span>
    <slot />
  </div>
</template>

<script>
import PIXI from '~/vendor/pixi'

export default {
  props: {
    antialias: {
      type: Boolean,
      required: false,
      default: false
    },
    backgroundColor: {
      type: Number,
      required: false,
      default: 0x000000
    },
    transparent: {
      type: Boolean,
      required: false,
      default: false
    }
  },

  data() {
    return {
      isLoading: true
    }
  },

  provide() {
    if (!process.browser) {
      return {
        pixiApp: null,
        pixiContainer: null
      }
    }

    const { antialias, backgroundColor, transparent } = this
    const pixiApp = new PIXI.Application({
      antialias,
      backgroundColor,
      transparent
    })
    this.pixiApp = pixiApp

    const pixiContainer = pixiApp.stage

    return {
      pixiApp,
      pixiContainer
    }
  },

  mounted() {
    const { pixiApp, $el } = this
    if (!pixiApp || !$el) {
      return
    }

    $el.appendChild(pixiApp.view)

    pixiApp.ticker.addOnce(() => {
      this.isLoading = false
    })
  },

  beforeDestroy() {
    const { pixiApp } = this
    if (pixiApp) {
      pixiApp.destroy()
    }
  }
}
</script>
