<template>
  <div class="pixi-container">
    <slot />
  </div>
</template>

<script>
import PIXI from '~/vendor/pixi'
import pixiEventsMixin from '~/mixins/pixi-events'
import { eventNames } from './display-object'

export default {
  inject: {
    parentContainer: 'pixiContainer'
  },

  mixins: [pixiEventsMixin],

  props: {
    interactive: {
      type: Boolean,
      required: false,
      default: false
    }
  },

  provide() {
    if (!process.browser) {
      return {
        pixiContainer: null
      }
    }

    const pixiContainer = new PIXI.Container()
    this.pixiContainer = pixiContainer

    return {
      pixiContainer
    }
  },

  mounted() {
    const { parentContainer, pixiContainer } = this
    if (!parentContainer || !pixiContainer) {
      return
    }

    const { interactive } = this
    pixiContainer.interactive = interactive

    parentContainer.addChild(pixiContainer)
    this.addPixiEventListeners(pixiContainer, eventNames)
  }
}
</script>
