<template>
  <pixi-container
    class="tiled-map"
    v-bind="$attrs"
    v-on="$listeners"
  >
    <tiled-map-layer
      v-for="layer in mapData.layers"
      ref="layers"
      :key="layer.id"
      v-bind="layer"
      :tileheight="mapData.tileheight"
      :tilewidth="mapData.tilewidth"
      :tilesets="mapData.tilesets"
    />
  </pixi-container>
</template>

<script>
import TiledMapLayer from './tiled-map-layer.vue'
import PixiContainer from './pixi-container.vue'

export default {
  components: {
    PixiContainer,
    TiledMapLayer
  },

  inheritAttrs: false,

  props: {
    mapData: {
      type: Object,
      required: true
    }
  }
}
</script>
