<template>
  <section class="container">
    <div>
      <h1 class="title">
        vue-pixi-wrapper
      </h1>
      <h2 class="subtitle">
        PixiJS v4 wrapper for Vue.js
      </h2>

      <pixi-application :class="{ 'is-over': isMouseOver }">
        <custom-graphics />

        <pixi-container>
          <random-line
            v-for="line in lineData"
            :key="line.id"
            v-bind="line"
          />
        </pixi-container>

        <wobbly-thing
          @mouseover="onMouseOver"
          @mouseout="onMouseOut"
          @click="onClick"
        />
      </pixi-application>
    </div>
  </section>
</template>

<script>
import PixiApplication from '~/components/pixi-application.vue'
import CustomGraphics from '~/components/custom-graphics.vue'
import WobblyThing from '~/components/wobbly-thing.vue'
import RandomLine from '~/components/random-line.vue'
import PixiContainer from '../components/pixi-container'

export default {
  components: {
    PixiContainer,
    PixiApplication,
    CustomGraphics,
    WobblyThing,
    RandomLine
  },

  data() {
    return {
      isMouseOver: false,
      lineData: []
    }
  },

  methods: {
    onClick() {
      const line = {
        id: Date.now(),
        width: Math.random() * 30,
        color: Math.random() * 0xffffff,
        alpha: 1,
        x: Math.random() * 800,
        y: Math.random() * 600,
        cpX: Math.random() * 800,
        cpY: Math.random() * 600,
        cpX2: Math.random() * 800,
        cpY2: Math.random() * 600,
        toX: Math.random() * 800,
        toY: Math.random() * 600
      }
      this.lineData.push(line)
    },

    onMouseOver() {
      this.isMouseOver = true
    },

    onMouseOut() {
      this.isMouseOver = false
    }
  }
}
</script>

<style>
.container {
  margin: 0 auto;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.title {
  font-family: 'Quicksand', 'Source Sans Pro', -apple-system, BlinkMacSystemFont,
    'Segoe UI', Roboto, 'Helvetica Neue', Arial, sans-serif;
  display: block;
  font-weight: 300;
  font-size: 100px;
  color: #35495e;
  letter-spacing: 1px;
}

.subtitle {
  font-weight: 300;
  font-size: 42px;
  color: #526488;
  word-spacing: 5px;
  padding-bottom: 15px;
}

.links {
  padding-top: 15px;
}

.is-over {
  cursor: pointer;
}
</style>
