<template>
  <pixi-application>
    <tiled-map 
      ref="tiledMap"
      :map-data="mapData"
      :interactive="true"
      @click="onClickTile"
    />
    
    <player-sprite v-bind="playerPosition" />
  </pixi-application>
</template>

<script>
import PixiApplication from '~/components/pixi-application.vue'
import TiledMap from '~/components/tiled-map'

import mapData from '~/assets/map.json'
import PlayerSprite from '../components/player-sprite'

const isBlockingLayer = layer => {
  if (!layer.properties) {
    return false
  }

  const blockingProperty = layer.properties.find(p => p.name === 'blocking')
  if (!blockingProperty) {
    return false
  }

  return blockingProperty.value
}

export default {
  components: {
    PlayerSprite,
    PixiApplication,
    TiledMap
  },

  data() {
    const { base: baseUrl } = this.$router.options
    mapData.tilesets = mapData.tilesets.map(tileset => ({
      ...tileset,
      image: tileset.image.replace('../static/', baseUrl)
    }))

    return {
      mapData,
      playerPosition: {
        x: 10,
        y: 10
      }
    }
  },

  mounted() {
    this.makeNeighborTilesInteractive()
  },

  methods: {
    isBlocked({ x, y }) {
      const findTileId = layer => layer.data[x + y * layer.width]

      const { layers } = mapData

      const hasBlockingTile = layer =>
        isBlockingLayer(layer) && findTileId(layer) !== 0

      if (layers.some(hasBlockingTile)) {
        return true
      }

      return layers.every(layer => findTileId(layer) === 0)
    },

    onClickTile(event) {
      const { global } = event.data
      const tilePosition = {
        x: Math.floor(global.x / 32),
        y: Math.floor(global.y / 32)
      }

      if (this.isBlocked(tilePosition)) {
        return
      }

      if (this.playerDistance(tilePosition) !== 1) {
        return
      }

      this.playerPosition = tilePosition
      this.makeNeighborTilesInteractive()
    },

    playerDistance(tilePosition) {
      return (
        Math.abs(this.playerPosition.x - tilePosition.x) +
        Math.abs(this.playerPosition.y - tilePosition.y)
      )
    },

    makeNeighborTilesInteractive() {
      const { width, height } = this.mapData
      const { tiledMap } = this.$refs
      const { layers: layerComponents } = tiledMap.$refs
      for (let x = 0; x < width; x++) {
        for (let y = 0; y < height; y++) {
          const sprites = layerComponents
            .map(layerComponent => ({
              layerComponent,
              sprite: layerComponent.tiles[y][x]
            }))
            .filter(({ sprite }) => sprite !== null)

          if (this.playerDistance({ x, y }) === 1 && sprites.length > 0) {
            const topMostSprite = sprites.pop()
            const { layerComponent, sprite } = topMostSprite
            const layerIndex = layerComponents.indexOf(layerComponent)
            const layer = this.mapData.layers[layerIndex]
            sprite.interactive = true
            sprite.cursor = isBlockingLayer(layer) ? 'not-allowed' : 'pointer'
          }

          sprites.forEach(({ sprite }) => {
            sprite.interactive = false
          })
        }
      }
    }
  }
}
</script>
